@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rancho&family=Skranji&display=swap');

body {
  background-image: linear-gradient(to right, #614385, #516395);
  
}

#title {
  font-family: 'Black Ops One', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 2em;
}

#title p {
  margin: 1px;
  font-size: 0.8em;
}

#calculator {
  text-align: center; /* why does item-align not work here */
  justify-content: center;
  background-color: rgb(47,79,79, 0.7);
  border-radius: 5px;
  width: 400px;
  height: 300px;
  margin: 200px;
  padding: 30px 30px 10px;
  
}

#display {
  background-color: rgba(119,136,153, 0.7);
}
